---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
const pkmn_fetch_list = ["387", "388", "389", "390", "391", "392", "393", "394", "395", "396", "397", "398"];
---

<Layout title="DexNnoh">
	<header class="header">
		<h1 class="text">DexNnoh</h1>
	</header>
	<main>
		<section class="info">
			<div class="card bg-purple">
				<h2 class="font-4">Welcome to <span class="white">DexNnoh</span></h2>
				<h3 class="font-2">A minimalistic web to learn more about Pokemon</h3>
				<a href="https://www.wikidex.net/wiki/WikiDex" class="white-btn">Check out the wiki →</a>
			</div>
			<div class="card bg-blue">
				<h2 class="font-4">Why DexNnoh?</h2>
				<p class="justify-text">DexNnoh is web to gather information of the fourth generation of Pokemon. 
				    Personally, my favorite one of the pokemon enviroment.
					The name was selected to merge my favorite region of pokemon Sinnoh and the idea of the website
					to be a small pokedex where you can find true information of the 151 pokemon.
				</p>
				<div class="favorite-container">
					<h2 class="font-2">My first league winner team</h2>
					<div class="team">
						<p class="pkmn-team">Infernape</p>
						<p class="pkmn-team">Staraptor</p>
						<p class="pkmn-team">Luxray</p>
						<p class="pkmn-team">Lucario</p>
						<p class="pkmn-team">Salamance</p>
						<p class="pkmn-team">Dialga</p>
					</div>
				</div>
			</div>
		</section>
		<section class="pkmn-container">
			<h2 class="font-4">Fourth Generation Pokemon:</h2>
			<div class="list-group">
				<ul class="list">
					{pkmn_fetch_list.map((number_pkmn) => 
						<Card number={number_pkmn}/>
					)}
				</ul>
			</div>
		</section>
	</main>
	<footer class="footer">
		<p class="text">DexNnoh web - by <span class="author">TavoS185</span></p>
	</footer>
</Layout>

<style>

	.header {
		background-color: white;
		display: flex;
		align-items: center;
		justify-content: space-evenly;
		width: 100%;
		height: 60px;
		padding: 1.5rem;
		border-bottom: 4px solid black;
	}
	.header .text {
		font-size: 3rem;
		line-height: 1;
	}

	.footer {
		position: absolute;
		bottom: 1;
		background-color: black;
		width: 100%;
		height: 30px;
		padding: 1.5rem;
	}
	.footer .text {
		color: white;
	}
	.footer .author {
		color: var(--author-text);
	}
	.info {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin: 2rem 4rem;
	}
	.info .card{
		width: 45%;
		height: 18rem;
		padding: 1rem;
		border-radius: 0.5rem;
		border: 3px solid black;
		box-shadow: 5px 5px black;
		transition: all;
		transition-duration: .5s;
		animation: ease-in-out;
	}

	.card .white {
		color: white;
	}
	.card .white-btn {
		display: flex;
		align-items: center;
		justify-content: center;
		text-decoration: none;
		color: black;
		margin: 2rem 0;
		height: 2.5rem;
		width: 15rem;
		background-color: white;
		border: 3px solid black;
		box-shadow: 3px 3px black;
		font-size: 1.15rem;
	}
	.card .favorite-container {
		margin-top: 0.5rem;
	}
	.card .team {
		display: flex;
		justify-content: space-between;
		margin-top: 0.5rem;
	}
	.card .pkmn-team {
		width: 6rem;
		height: 1.5rem;
		text-align: center;
		padding-top: 0.25rem;
		background-color: white;
		border: 3px solid black;
		border-radius: 1rem;
		box-shadow: 3px 3px black;
	}

	.pkmn-container {
		background-color: var(--bg-green);
		margin: 2rem 4rem;
		padding: 1rem;
		border-radius: 0.5rem;
		border: 3px solid black;
		box-shadow: 5px 5px black;
		transition: all;
		transition-duration: .5s;
		animation: ease-in-out;
	}
	.pkmn-container .list {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-evenly;
		gap: 3rem;
		margin: 3rem 0;
	}

	.justify-text {
		text-align: justify;
		text-justify: inter-word;
	}
	.font-2 {
		font-size: 2.25rem;
	}
	.font-3 {
		font-size: 3rem;
	}
	.font-4{
		font-size: 4rem;
	}
	.bg-purple {
		background-color: var(--bg-card-welcome);
	}
	.bg-blue {
		background-color: var(--bg-card-why);
	}
</style>
